.container {
  @media screen and (min-width:1181px){
    padding: 0;
  }
}

.hero {
  .hero-content {
    width: 30%;
    
    &.full-title {
      width: 100%;
    }
  }
}

@media screen and (min-width:1170px){
  body.single-resources {
    .resource-tags {
      .resource-labels {
        -webkit-flex: 0 0 auto;
        -moz-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        -o-flex: 0 0 auto;
        flex: 0 0 auto;
        margin-right: 14px;
        display: inline-block;
      }
      .label {
        &.mobile-show {
          display: none;
        }
      }
    }
  }
  
  .event-items {

    &.narrow {
      max-width: 75%;
    } 

  }
}

@media screen and (min-width:1200px){
  body.single-resources {
    .tool-single-hero {
      * {
        min-width: 60%;
      }
    }
  }
}