$burnt-umber: #d96a29;
$dark-blue: #1c4559;
$gray: #4a494a;
$light-gray: #9b9b9b;
$soft-yellow: #f2e4a0;
$eco-green: #77b274;

$black: #000000;
$white: #ffffff;

$off-white: #F4F1EC;
$line-color: #becacf;
